/*重写样式修改ion-navbar的背景色*/
.toolbar-background {
    left: 0;
    top: 0;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    border: 0;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    pointer-events: none;
    contain: strict;
    background: #f53d3d !important;
}