.notice-date{
    font-size: 1rem !important;
}
.notice-img{
    border-radius:0 !important;
    width:5rem !important;
    height: 5rem !important;
}
.notice-title-red{
    color: red;
    font-weight: 600 !important;
}
.notice-query{
    height: 2.4rem;
    width: 90%;
    float: right;
    margin-right: 5%;
}
::-webkit-input-placeholder{
    font-size: 1rem;
}
.newslist{
    .scroll-content{
        margin-bottom: 0px !important;
    }
}